* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --width:320px;
    --height:320px;
    --display:block;
    --flex-shrink: 10;
}

body  {
    padding: 0;

}

p {
     font-family:Arial, Helvetica, sans-serif;
}

/* header {
    border: 3px solid orangered
} */

.explore-main {
    width: 70%;
    margin-left: 14.6%;
    padding-top: 20px;
    position: relative;


    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    gap:5px;

    /* display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: auto;
    border: 3px solid green;
    width: 1080px;
    justify-content: center; */


}

.explore-main a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    position: relative;
}

.explore-main a img {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 10%;
}

.explore-main .items {
    flex-basis: 26.5%;
    position: relative;
    aspect-ratio: 1/1;
    
}

.explore-main .items .container {
    width: 100%;
    position: absolute;
    padding-top: 99%; 

    color: transparent;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* border: 3px solid blue; */
}

.explore-main .items .container:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-shadow: 1px 1px 4px #000;
}

.explore-main .items .container .text-p {
    position: absolute;
    top: 50%;
    left: 40%;
    display: flex;
    gap: 50%;

    /* border: 2px solid blue; */

    transform: translate(-30%,-50%);

}

.explore-main .items1 {
    /* display: var(--display); */
    /* width: var(--width);
    flex-shrink: var(--flex-shrink); */

    /* border:1px solid green; */

    background-image: url(../images/explore/Fashion\ potriat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.explore-main .items2 {
    /* display: var(--display); */
    /* width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink); */

    background-image: url(../images/explore/woman-training.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items3 {
    /* display: var(--display); */
    /* width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink); */

    background-image: url(../images/explore/happy\ girls.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items4 {
    /* display: var(--display); */
    /* width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink); */

    background-image: url(../images/explore/senior\ man.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items5 {
    /* display: var(--display); */
    /* width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink); */

    background-image: url(../images/explore/london\ bridge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items6 {

    background-image: url(../images/explore/training\ pose.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items7 {
    background-image: url(../images/explore/nike.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items8 {
    /* display: var(--display); */
    /* width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink); */

    background-image: url(../images/explore/fit-woman-running.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items9 {

    background-image: url(../images/explore/celebrity\ male.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items10 {

    background-image: url(../images/explore/black\ shawty.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items11 {

    background-image: url(../images/explore/city-street.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items12 {


    background-image: url(../images/explore/three-besties.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items13 {
    /* display: var(--display); */
    /* width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink); */

    background-image: url(../images/explore/whole\ city.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items14 {
    /* display: var(--display); */
    /* width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink); */

    background-image: url(../images/post_img/african\ man.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items15 {
    /* display: var(--display); */
    /* width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink); */

    background-image: url(../images/status_img/curly\ hair\ lady.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items16 {
    /* display: var(--display); */
    /* width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink); */

    background-image: url(../images/status_img/college\ student.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items17 {
    /* display: var(--display); */
    /* width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink); */

    background-image: url(../images/status_img/2girls.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items18 {
    /* display: var(--display); */
    /* width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink); */

    background-image: url(../images/explore/world\ book\ day.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items19 {
    /* display: var(--display); */
    /* width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink); */

    background-image: url(../images/status_img/asian-lady.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items20 {
    /* display: var(--display); */
    /* width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink); */

    background-image: url(../images/status_img/black\ guy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-main .items21 {
    /* display: var(--display); */
    /* width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink); */

    background-image: url(../images/explore/city-street.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


 @media screen and (max-width: 1150px) {

    .explore-main {
        width: 81.8%;
        margin-left: 6%;

        /* border: 3px solid brown; */
    }

    .explore-main .items .container .text-p {
        gap: 35%;
        transform: translate(-41%,-30%);

        font-size: large;

            
        /* border: 2px solid blue; */
    
    }

} 


@media screen and (max-width: 800px) {
    .explore-main {
        width: 82.5%;
        margin-left:9.5% ;
    }

    .explore-main .items .container .text-p {
        gap: 23%;
        transform: translate(-41%,-30%);

            
        /* border: 2px solid blue; */
    
    }

} 


@media screen and (max-width: 500px) {
    .explore-main {

        justify-content: center;
        width: 100%;
        margin-left:0;
    }

    .explore-main .items .container .text-p {
        gap: 10%;
        transform: translate(-31%,-30%);

         font-size: small;

            
        /* border: 2px solid blue; */
    
    }

}

/*
@media screen and (max-width: 700px) {

    .explore-main .items {
        flex-basis: 25%;
        height: 130px;
        
    }

    .explore-main .items .container {
        height:150px; 
        flex-basis: 25%;
    }

}  */
